.Artwork1{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 100px;
}
.Artwork2 {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 100px;
}
